beautifulsoup4
democritus-networking @ git+https://github.com/democritus-project/democritus-networking.git#egg=democritus-networking
democritus-networking @ git+https://github.com/democritus-project/democritus-networking.git#egg=democritus-networking
democritus-urls @ git+https://github.com/democritus-project/democritus-urls.git#egg=democritus-urls
html2text
html_to_json @ git+https://gitlab.com/fhightower/html-to-json.git#egg=html_to_json